// Colors
$main: #fff;
$white-light: #E9E4E4;
$gold: #C6A47C;

// Fonts
$font-family: 'Manrope';

// Font-weights
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

 // Containers
:root { 
  --content-width: 1330px;
  --content-fluid-width: 1790px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
}
